.product-screen {
    width: 80%;
    margin: auto;
}
.product-screen--image {
    margin-top: 1rem;
}

.stocks {
    margin: 0.5rem 0 0.5rem 0;
}
.stocks-available {
    color: var(--secondary-green);
    font-weight: bold;
}

.stocks-out-of-stock {
    color: red;
    font-weight: bold;
}

.product-screen--card {
    padding: 0.5rem 1rem;
}

.quantity.quantity-input {
    width: 50px;
    height: 32px;
    border-left: none;
    border-right: none;
    font-size: 16px;
    font-weight: 400;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    -webkit-appearance: none;
}

.quantity {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
    font: inherit;
}

.quantity-text {
    padding-right: 0.75rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }