.product-screen {
    width: 80%;
    margin: auto;
}
.product-screen--image {
    margin-top: 1rem;
}

.stocks {
    margin: 0.5rem 0 0.5rem 0;
}
.stocks-available {
    color: var(--secondary-green);
    font-weight: bold;
}

.stocks-out-of-stock {
    color: red;
    font-weight: bold;
}

.product-screen--card {
    padding: 0.5rem 1rem;
}