@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');
:root {
  /* color */
  --background-green: rgba(246, 252, 248, 1);
  --primary-green: rgba(91, 184, 132, 1);
  --white: rgba(255, 255, 255, 1);
  --dark-green: rgb(70, 145, 104);
  --light-gray-border: rgba(189, 189, 189, 1);
  --light-gray-background: rgba(246, 246, 246, 1);

  /* border radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 20px;

}
.App {
  margin: 0;
  height: 100vh; 
  font-family: 'Mulish', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'navbar'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr auto;
  background-color: var(--light-gray-background);

}

.main {
  grid-area: main;
  display: flex;
  overflow: auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: var(--border-radius-small);
}

.btn--primary {
  background-color: var(--primary-green);
  color: white;
}

.btn--secondary {
  background-color: var(--white);
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}

.btn--primary:hover {
  background-color: var(--dark-green);
}

.btn--secondary:hover {
  color: var(--dark-green);
}

.image {
  max-width: 90%;
  max-height: 90%;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}