@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');
:root {
  /* color */
  --background-green: rgba(246, 252, 248, 1);
  --primary-green: rgba(91, 184, 132, 1);
  --secondary-green: #378157;
  --white: rgba(255, 255, 255, 1);
  --dark-green: rgb(70, 145, 104);
  --light-gray-border: rgba(189, 189, 189, 1);
  --light-gray-background: rgba(246, 246, 246, 1);
  --dark-gray-background: rgba(169, 169, 169, 1);
  --dark-gray: rgb(121, 117, 117);

  /* border radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 20px;

  /*font size */
  --h2: 1.5rem;
  --h3: 1.2rem;

}
.App {
  margin: 0;
  height: 100vh; 
  font-family: 'Mulish', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'navbar'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr auto;
  background-color: var(--light-gray-background);

}

h2 {
  font-size: var(--h2);
  font-weight: bold;
}

h3 {
  font-size: var(--h3);
  font-weight: bold;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

p {
  margin-block-start: 0;
  margin-block-end: 1rem;
}

.main {
  grid-area: main;
  display: flex;
  overflow: auto;
  padding: 0 2rem;


}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;  
}

.center {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: var(--border-radius-small);
  border: none;
  font: inherit;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn--primary {
  background-color: var(--primary-green);
  color: white;
}

.btn.btn--secondary {
  background-color: var(--white);
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
}

.btn.btn--block {
  width: 100%;
  max-width: 320px;
  align-self:center; 
}

.btn--primary:hover {
  background-color: var(--dark-green);
}

.btn--secondary:hover {
  color: var(--dark-green);
}


.btn--disabled {
  background-color: var(--light-gray-border);
  color: white;
}

.btn--disabled:hover {
  cursor: default;
}

.image {
  max-width: 90%;
  max-height: 90%;
  top: 0;
  left: 0;
}

.image--large {
  max-width: 100%;
  max-height: 70vh;
}


a {
  text-decoration: none;
  color: inherit;
}

.rating-stars {
  color: #f0c14b;
}


.stocks {
  margin: 0.5rem 0 1rem 0;
}
.stocks-available {
  color: var(--secondary-green);
  font-weight: bold;
}

.stocks-out-of-stock {
  color: red;
  font-weight: bold;
}

.price {
  font-size: var(--h2);
  color: var(--secondary-green);
  font-weight: bold;    
}

.flex-start {
  justify-content: flex-start;
}

.margin-bottom-large {
  margin-bottom: var(--border-radius-large);
}

.alert {
  padding: 20px;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
}

.danger {
  color: #a02020; 
  background-color: #ffe0e0e0;
}

.info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.icon-primary {
  color: var(--primary-green)
}